table.table_admin {
	border-radius: 0.5rem;
	width: 100%;
	text-align: left;

	tbody,
	thead {
		border-spacing: 0 7px;
		width: 100%;

		> tr {
			> th,
			> td {
				border: 1px solid rgb(209 213 219);
				padding: 10px 20px;
				border-style: solid;
				border-width: 1px 0;

				@media (max-width: 992px) {
					padding: 8px 10px;
				}

				@media (max-width: 768px) {
					border-width: 1px;
					border-bottom-width: 0;
					display: block;
				}

				&.minWidth {
					width: 105px;

					@media (max-width: 992px) {
						width: max-content;
					}

					@media (max-width: 768px) {
						width: 100%;
					}
				}

				&:first-child {
					border-left-width: 1px;
				}

				&:last-child {
					border-right-width: 1px;

					@media (max-width: 768px) {
						border-bottom-width: 1px;
					}
				}
			}
		}
	}

	thead > tr {
		> th {
			font-weight: 700;

			@media (min-width: 769px) {
				border-bottom: none;
			}
		}
	}

	tbody tr {
		border: 1px solid rgb(209 213 219);
		transition: all 0.3s ease;

		@media (max-width: 768px) {
			border: none;
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.15);
		}
	}
}
